body{
  background-color: #0e1117;
}
.App {
  text-align: center;
  background-color: #0e1117;
  color: #fff;
}

.img-container{
  margin-top: 60px;
  display: block;
  max-width: 800px;
}

.img-container img{
  max-width: 100%;
  height: auto;
}

.main{
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
}
